.content {
  padding: 20px 30px;
  width: 100%;
}

.content__wrapper {
  margin-top: 16px;
  max-width: 420px;
  width: 100%;
  border-radius: 8px;
  background: #f3f3f3;
  padding: 10px;
  position: relative;
}

.content__item + .content__item {
  margin-top: 8px;
}

.content__item span:first-child {
  color: #a3a3a3;
  display: inline-block;
  margin-right: 7px;
}

.content__more {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #4b51ef;
  cursor: pointer;

  &:hover {
    color: #282ee6;
  }
}

@media (max-width: 600px) {
  .content__wrapper {
    padding-bottom: 35px;
  }

  .content__more {
    left: 10px;
    right: 0;
  }
}
