.content {
  padding: 20px 30px;
  width: 100%;
}

.content__header {
  display: flex;
  justify-content: space-between;
}

.form {
  border: 1px solid #f3f3f3;
  margin-top: 11px;
  padding: 20px 12px;
  border-radius: 8px;
  width: 100%;
}

.form__item {
  display: flex;
  flex-direction: column;
}

.form__item + .form__item {
  margin-top: 10px;
}

.form__label {
  font-size: 12px;
  margin-bottom: 3px;
}

.form__input {
  max-width: 211px;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.3);
}

textarea.form__input {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 55px;
  resize: vertical;
}

.content .content__btn_send {
  margin-top: 15px;
  background: #52cf4f;

  &:hover {
    background: #3cab3a;
  }
}

.content .content__btn_send.disabled {
  background: #afafaf;
}

.content .content__btn_back {
  margin-top: 15px;
  background: #e93636;

  &:hover {
    background: #c02727;
  }
}

.content__footer {
  display: flex;
  justify-content: space-between;
}

.btn {
  background: #4b51ef;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
  color: #fff;
  cursor: pointer;
  &:hover {
    background: #383dd3;
  }
}

@media (max-width: 600px) {
  .content__header {
    flex-direction: column;
  }
  .btn {
    width: 100%;
  }
  .content {
    padding: 20px 10px;
  }

  .content__footer {
    flex-direction: column;
  }

  .content__title {
    margin-bottom: 15px;
  }
}
